.form{
    width: 100%;
    
}

.form-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    color: #EEEEEE;
    border: none;
    background-color: rgba(225, 225, 225, .4);
    backdrop-filter: blur(2px);
    outline: none;
    width: 100%;
}

.form-input::placeholder{
    color: #EEEEEE;
}